# Raw data files
data/*.csv

# Python virtual environments
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Environment variables / secrets
.env